<header class="background-color-main">
    <img [src]="logo_orion" alt="Orion-logo.png">
    <h2 class="font-shadow-hover-tree font-shadow-dark font-family-tittle">Orion Game System</h2>
</header>
<nav class="background-color-lighter">
    <a href="/" class="background-hover-one font-shadow-dark font-family-subtittle">Inicio</a>
    <a href="/Characters" class="background-hover-one font-shadow-dark font-family-subtittle">Personajes</a>
    <a href="/" class="background-hover-one font-shadow-dark font-family-subtittle">Ejemplo 3</a>
    <a href="/" class="background-hover-one font-shadow-dark font-family-subtittle">Ejemplo 4</a>
    <a href="/" class="background-hover-one font-shadow-dark font-family-subtittle">Ejemplo 5</a>
</nav>