<div class="amistades-container">
  <div class="flex gap-4">
    <!-- Mis Amistades -->
    <div class="flex-1 mis-amistades-container">
      <h2>Mis Amistades</h2>
      <div class="search-container mb-2">
        <input [(ngModel)]="searchTermMisAmistades" placeholder="Buscar por ID o Nombre" />
      </div>
      <div class="grid grid-cols-1 gap-4">
        <div *ngFor="let amistad of paginatedMisAmistadesFiltered" class="amistad-item">
          <p>Amigo: {{ obtenerNombreAmigo(amistad) }} (ID: {{ amistad.usuario_id_1 === currentUserId ? amistad.usuario_id_2 : amistad.usuario_id_1 }})</p>
        </div>
      </div>
      <div class="pagination-controls">
        <button (click)="changePageMisAmistades(currentPageMisAmistades - 1)" [disabled]="currentPageMisAmistades === 1">Anterior</button>
        <span>Página {{ currentPageMisAmistades }}</span>
        <button (click)="changePageMisAmistades(currentPageMisAmistades + 1)" [disabled]="paginatedMisAmistadesFiltered.length < itemsPerPage">Siguiente</button>
      </div>
    </div>

    <!-- Buscar Usuarios y Enviar Solicitud -->
    <div class="flex-1 usuarios-container">
      <h2>Buscar Usuarios</h2>
      <div class="search-container mb-2">
        <input [(ngModel)]="searchTerm" placeholder="Buscar por ID o Nombre" />
      </div>
      <div class="grid grid-cols-1 gap-4">
        <div *ngFor="let usuario of paginatedUsuarios" class="usuario-item">
          <p>{{ usuario.Nombre }}</p>
          <button (click)="enviarSolicitudAmistad(usuario.Id)">Enviar Solicitud de Amistad</button>
        </div>
      </div>
      <div class="pagination-controls">
        <button (click)="changePageUsuarios(currentPageUsuarios - 1)" [disabled]="currentPageUsuarios === 1">Anterior</button>
        <span>Página {{ currentPageUsuarios }}</span>
        <button (click)="changePageUsuarios(currentPageUsuarios + 1)" [disabled]="paginatedUsuarios.length < itemsPerPage">Siguiente</button>
      </div>
    </div>
  </div>
</div>
