<form (submit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre">
        <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error></mat-error>
    </mat-form-field>
    <div class="form-control">
        <label for="perfil">Imagen Perfil</label>
        <input type="file" formControlName="perfil" id="perfil">
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Privilegios</mat-label>
        <mat-select formControlName="privilegios">
          <mat-option *ngFor="let p of privilegios" [value]="p">
            {{ p }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-checkbox formControlName="bloqueado">Bloqueado</mat-checkbox>
</form>